<ul id="chatlist">
<span class="user">{{ user }}</span>: <span class="message">{{ message }}</span>

</ul> 

<div id="input">
  <textarea id="message"></textarea>
  Nickname: <input id="user">
</div>

